---
layout: page
title: التصنيفات
permalink: /categories/
---

<h2>التصنيفات الرئيسية:</h2>

<ul dir="rtl">
  {% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
      <li><a href="{{ site.baseurl }}/categories/{{ category | first | slugify }}/">{{ category | first }}</a></li>
    {% endfor %}
  {% else %}
    {% for category in categories_list %}
      <li><a href="{{ site.baseurl }}/categories/{{ category[0] | slugify }}/">{{ category[0] }}</a> ({{ category[1].size }})</li>
    {% endfor %}
  {% endif %}
</ul>
