<footer class="site-footer">
  <div class="container">
    <div class="row">
      <!-- معلومات الموقع -->
      <div class="col-lg-4">
        <div class="footer-widget about-widget">
          <h3 class="widget-title">عن المدونة</h3>
          <div class="about-content">
            <a href="{{ "/" | relative_url }}" class="footer-logo">
              {% if site.logo %}
              <img src="{{ site.logo | relative_url }}" alt="{{ site.title }}" class="footer-logo-img">
              {% else %}
              <h2 class="footer-logo-text">{{ site.title }}</h2>
              {% endif %}
            </a>
            <p class="footer-description">{{ site.description }}</p>
            <div class="footer-social">
              {% if site.author.twitter %}
              <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              {% endif %}
              {% if site.author.github %}
              <a href="https://github.com/{{ site.author.github }}" target="_blank" class="social-icon">
                <i class="fab fa-github"></i>
              </a>
              {% endif %}
              {% if site.author.linkedin %}
              <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      
      <!-- أحدث المقالات -->
      <div class="col-lg-4">
        <div class="footer-widget recent-posts-widget">
          <h3 class="widget-title">أحدث المقالات</h3>
          <ul class="recent-posts-list">
            {% for post in site.posts limit:3 %}
            <li class="recent-post-item">
              <a href="{{ post.url | relative_url }}" class="recent-post-link">
                <div class="recent-post-image">
                  {% if post.image %}
                  <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
                  {% else %}
                  <div class="default-image">
                    <i class="fas fa-file-alt"></i>
                  </div>
                  {% endif %}
                </div>
                <div class="recent-post-info">
                  <h4 class="recent-post-title">{{ post.title }}</h4>
                  <span class="recent-post-date">{{ post.date | date: "%d/%m/%Y" }}</span>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      
      <!-- روابط سريعة -->
      <div class="col-lg-4">
        <div class="footer-widget links-widget">
          <h3 class="widget-title">روابط سريعة</h3>
          <ul class="footer-links">
            <li><a href="{{ "/" | relative_url }}">الرئيسية</a></li>
            <li><a href="{{ "/about" | relative_url }}">عني</a></li>
            <li><a href="{{ "/archive" | relative_url }}">