<header class="site-header">
  <div class="container flex-between">
    <a class="brand" href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="logo"><span>{{ site.title }}</span>
    </a>

    <nav class="nav">
      {% for path in site.header_pages %}
        {% assign p = site.pages | where:"path", path | first %}
        {% if p %}<a href="{{ p.url | relative_url }}">{{ p.title }}</a>{% endif %}
      {% endfor %}
    </nav>

    <button id="theme-toggle">🌓</button>
  </div>
</header>
<script>
  const html=document.documentElement,btn=document.getElementById('theme-toggle');
  const stored=localStorage.getItem('mode');if(stored){html.dataset.mode=stored}
  btn.onclick=_=>{html.dataset.mode=html.dataset.mode=='dark'?'light':'dark';localStorage.setItem('mode',html.dataset.mode);}
</script>
